In [5]:
# 인자도 없고 반환 값도 없는 함수
def my_func():
    print("My first function")
# 여기까지만 실행하면 아무 일도 일어나지 않음.
my_func()
# my_func()해서 호출하면 프린트값 반환.

My first function

In [8]:
# 인자는 있으나 반환 값이 없는 함수
def my_friend(friendName):
    print("{}는 나의 친구입니다.".format(friendName))

my_friend('철수')
my_friend('영미')

철수는 나의 친구입니다.
영미는 나의 친구입니다.

In [14]:
# 함수에서는 인자가 하나일 수도 있고 여러 개일 수도 있음.
# 아래는 인자가 3개인 함수

def my_student_info(name, school_ID, phoneNumber):
    print('_____________________')
    print("-학생이름:", name)
    print("-학급번호:",school_ID)
    print("-전화번호:", phoneNumber)
    print('_____________________')

my_student_info("james",'22','010-0202-0202')

# 함수를 정의할 대 세 개의 인자를 넘겨받로고 만들었기 때문에 호출할 때도 세 개의 인자를 입력해서 함수를 호출

_____________________
-학생이름: james
-학급번호: 22
-전화번호: 010-0202-0202
_____________________

In [15]:
# 인자값도 있고 반환 값도 있는 함수
def my_calc(x,y):
    z = x*y
    return z

my_calc(3,4)

12

In [22]:
# 함수의 인자로 리스트, 세트, 튜플, 딕셔너리도 넣을 수 있음
def my_student_info_list(student_info):
    print('************')
    print('*학생이름:', student_info[0])
    print('*학급번호:', student_info[1])
    print('*전화번호:', student_info[2])
    print("************")

student_info = ['현아', '01', '010-2222-2222']

my_student_info_list(student_info)

# my_student_info_list(['철수','02','010-3333-3333'])
# 물론 철수처럼 리스트를 변수에 넣은 후에 이것을 함수의 인자로 넣지 않고 리스트를 바로 인자로 지정할 수도 있음.

************
*학생이름: 현아
*학급번호: 01
*전화번호: 010-2222-2222
************
************
*학생이름: 철수
*학급번호: 02
*전화번호: 010-3333-3333
************

In [35]:
a = 5 #전역변수

def func1():
    a = 1 #지역변수
    print("[func1]지역변수 a=", a)
def func2():
    a = 2 #지역변수, func2()에서만 사용
    print('[func2]지역변수 a=', a)
def func3():
    print("[func3]지역변수 a=", a)
def func4():
    global a #함수 내에서 전역변수 변경을 위해 선언
    a = 4 #전역변수의 값 변경
    print('[func4]전역변수 a=', a)

func1() #지역변수 a = 1로 설정해줌
func2() #지역변수 a = 2로 설정해줌
func3() #지역변수를 정의하지 않고 출력
func4() #전역변수의 값 변경 후 젼역변수 출력
print('전역변수 a=', a) # 전역변수 출력

[func1]지역변수 a= 1
[func2]지역변수 a= 2
[func3]지역변수 a= 5
[func4]전역변수 a= 4
전역변수 a= 4

In [36]:
#람다(lambda)함수
#람다함수는 lambda 인자 : 인자 활용 수행코드
#인자는 ,(콤마)로 구분해 여러 개를 사용할 수 있음
#람다함수를 사용할 때는 람다함수 전체를 소괄호로 감싸고 그 다음에 별도의 소괄호에 인자를 씀
#(lambda 인자 : 인자활용수행코드)(인자)
(lambda x : x ** 2)(3)

9

In [37]:
#람다함수를 변수에 할당한 후에 인자를 입력해서 호출할 수도 있음.
mySquare = lambda x : x ** 2
mySquare(3)

9

In [38]:
#여러 개의 인자를 입력받아 연산 결과를 반환하는 람다함수
mySimpleFunc = lambda x,y,z : 2*x + 3*y + z
mySimpleFunc(1,2,3)

11

In [39]:
#절대값을 구하는 함수 abs
abs(-10)

10

In [43]:
#전체합을 구하는 함수 sum
#sum()함수는 리스트, 튜플, 세트 전부 적용할 수 있다.
sumList = [1,2,3,4,5,5,5,3,2]
sum(sumList)
sumTuple = 1,2,3,4,5,5
sum(sumTuple)
sumSet = {1,2,3,4,5,5}
sum(sumSet)

15

In [45]:
#총점과 평균점 구하기
scores = [90,80,85,95]

score_sum = 0
each_subject = 0
for score in scores:
    score_sum += score
    each_subject += 1

aver = score_sum / each_subject

print('총점:{0}점, 평균:{1}점'.format(score_sum, aver))

총점:350점, 평균:87.5점

In [46]:
#sum과 len을 사용해서 총점과 평균점 구하기
print("총점:{0}점, 평균:{1}점".format(sum(scores), sum(scores)/len(scores)))

총점:350점, 평균:87.5점