# 자료형

In [ ]:
list_num = [1, 2, 3, 4, 5]
list_fruit = ['Apple', 'Orange']

In [ ]:
Tuple_num = (1, 2, 3, 4, 5)

* 딕셔너리는 키와 벨류, 세트집합도 있음

* 리스트, 튜플은 순서가 있다.
* 딕셔너리는 순서가 없고 key로 value값을 찾는다.

## 리스트 만들기

In [ ]:
# 1번 학생의 국어, 영어, 수학, 과학 점수가 각각 90, 95, 85, 80
student1 = [90, 95, 85, 80]
type(student1)

list

In [ ]:
student1[3]

80

In [ ]:
student1[0]

90

In [ ]:
student1[0] = 22
student1[0]

22

In [ ]:
print(student1)

[22, 95, 85, 80]

In [ ]:
student1[0:3]

[22, 95, 85]

In [ ]:
student1[-3:-1]

[95, 85]

In [ ]:
s = 0
for i in student1:
    s += i
print(s/len(student1))

70.5

In [ ]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends[-3]

'Robert'

In [ ]:
myFriends[0]

'James'

In [ ]:
for i in myFriends:
    if len(i) <= 4:
        print(True)
    else: 
        print(False)

False
False
True
True

In [ ]:
myList = ["James", "Lisa", 1, bool(0), bool(1)]

for i in myList:
    if type(i) == str:
        print('ww')
    elif type(i) == int:
        print('oo')
    else:
        print(8)

ww
ww
oo
8
8

In [51]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list_data[0:3]

[0, 1, 2]

In [52]:
list_data[:2]

[0, 1]

[x::y]하면 x인덱스부터 시작해서 y씩 건너띄고 간다는 얘기.

In [56]:
list_data[::2]

[0, 2, 4, 6, 8]

[x::y]할 때 y가 (-)인덱스이면 y에서 시작해서 x씩 건너뜀.

In [58]:
list_data[2::-1]

[2, 1, 0]

In [64]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
del list_data[6]
print(list_data)

[0, 1, 2, 3, 4, 5, 7, 8, 9]

데이타 in list 하면 해당 데이타가 리스트 안에 있느냐를 True False로 반환해줌

In [66]:
print(5 in list_data)

True

* 파이썬에서는 데이터 타입(자료형)별로 이용할 수 있는 다양한 함수를 제공하는데 이를 메서드라고 함.

* 리스트.메서드()형식으로 리스트 메서드 사용가능

* 데이터를 변수에 할당했다면 `데이터명.메서드()`로도 사용가능

In [70]:
myFriends = ['Lisa', 'Thomas', 'jay', 'key']
myFriends.append('sun')
print(myFriends)

['Lisa', 'Thomas', 'jay', 'key', 'sun']

In [73]:
myFriends.insert(1, 'paul')
# [1]위치에 paul삽입하라는 뜻

In [72]:
print(myFriends)

['Lisa', 'paul', 'Thomas', 'jay', 'key', 'sun']

In [75]:
myFriends.extend(['Luna', 'Betty'])
print(myFriends)
# extend는 하나의 리스트를 확장하는 기능인데, 확장하고자 하는 내용을 리스트 아규먼트로 넣어서 결과에 반환한다.

['Lisa', 'paul', 'paul', 'Thomas', 'jay', 'key', 'sun', 'Luna', 'Betty']

In [76]:
myFriends.extend(['d','a','w','e'])
print(myFriends)

['Lisa', 'paul', 'paul', 'Thomas', 'jay', 'key', 'sun', 'Luna', 'Betty', 'd', 'a', 'w', 'e']

In [77]:
del myFriends[5]

In [79]:
print(myFriends)

['Lisa', 'paul', 'paul', 'Thomas', 'jay', 'sun', 'Luna', 'Betty', 'd', 'a', 'w', 'e']

In [80]:
print('kk' in myFriends)

False

In [81]:
myFriends[3:]

['Thomas', 'jay', 'sun', 'Luna', 'Betty', 'd', 'a', 'w', 'e']

In [85]:
myFriends[3:len(myFriends)]

['Thomas', 'jay', 'sun', 'Luna', 'Betty', 'd', 'a', 'w', 'e']

In [86]:
ll = [1, 2, 3, 4]
print(len(ll))

4

In [87]:
ll.insert(1, 99)

In [88]:
print(ll)

[1, 99, 2, 3, 4]

In [95]:
ll.insert(0, 0)

In [96]:
print()

[0, 99, 1, 99, 2, 3, 99, 0, 4]

In [97]:
ll.insert(22, 888)

In [98]:
print(ll)

[0, 99, 1, 99, 2, 3, 99, 0, 4, 888]

In [99]:
ll.insert(99,'e')

In [100]:
print(ll)

[0, 99, 1, 99, 2, 3, 99, 0, 4, 888, 'e']

* 튜플은 한 번 입력(혹은 생성) 하면 그 8이후에는 항목을 변경할 수 없음.
* 리스트는 메모리 공간을 항상 가변적으로 갖고 있어야 하지만 튜플은 그렇지 않기에 데이터 처리 속도가 더 빠르다.

In [104]:
ll.append(0)
print(ll)

[0, 0, 1, 2, 3, 4, 99, 99, 99, 888, 'e', 0, 0]

In [105]:
ll.extend([1, 2, 3])

In [106]:
print(ll)

[0, 0, 1, 2, 3, 4, 99, 99, 99, 888, 'e', 0, 0, 1, 2, 3]

In [107]:
# 튜플은 ()를 사용하지만 ()를 사용하지 않아도 튜플로 인식되기에 안 써도 괜찮다.
tu = 1, 2, 3, 4
type(tu)

tuple

In [108]:
type(tuple)

type

In [110]:
type((1, 2, 3))

tuple

In [111]:
tuple = (1, 2, 3, 4)
tuple[1]

2

In [112]:
Tuple = 1, 2, 3, 4
Tuple[1]

2

* 항목이 하나만 있는 튜플을 만드는 방법??
    * tuple = 1, 
    * tuple = (1,)

* 데이터가 픽스되어 있다 하면 튜플을 쓰고 아니면 리스트를 쓰는 것이 좋다.

In [116]:
myTuple = (1,2,3,4)
myTuple[1] = 5

# 튜플은 항목을 바꿀 수 없기에 바꾸려고 하면 에러가 난다.

TypeError: ignored

index()메서드나 count()메서드는 항목을 변경하지 않아서 튜플에서 사용 가능

In [144]:
tuple = 1,2,3,4,4,1,3,1
tuple.index(4)
# index메서드로 몇번째에 해당 항목이 있는지 출력 가능

3

In [138]:
tuple.count(1)

1

In [141]:
ii = (1,1, 2)
ii.count(1)

2

* 딕셔너리는 key와 value로 구성됨.
* 리스트나 튜플은 인덱스를 이용해 항목을 다뤘지만 딕셔너리는 인덱스 대신 key를 사용함.

In [161]:
dict_name = {'apple':'fruit', 'james':'person'}
dict_name.values()

dict_values(['fruit', 'person'])

In [162]:
type(dict_name)

dict

In [163]:
print(dict_name['apple'])

fruit

In [165]:
print(dict_name['james'])

person

In [167]:
li = [1,2,3,4]
li.index(2)

1

In [168]:
li.append(['d','w'])

In [169]:
print(li)

[1, 2, 3, 4, ['d', 'w']]

In [170]:
li.extend(['d', 'w'])

In [173]:
print(li)

[1, 2, 3, 4, ['d', 'w'], 'd', 'w']

In [174]:
dict_name = {'서울':'한국','일본':'도쿄','미국':'DC'}
dict_name.keys()

dict_keys(['서울', '일본', '미국'])

In [175]:
dict_name.values()

dict_values(['한국', '도쿄', 'DC'])

In [179]:
dict_name['서울']

'한국'

In [180]:
dict_name = {1:10,2:20,3:30,4:40,5:50}
print(dict_name)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

In [183]:
dict_name.keys()

dict_keys([1, 2, 3, 4, 5])

In [184]:
dict_name[4]

40

In [185]:
dict_name = {"list_data1":[11,12,13], "list_data2":[21,22,23]}
print(dict_name)

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}

In [186]:
dict_name.keys()

dict_keys(['list_data1', 'list_data2'])

In [187]:
dict_name["list_data2"]

[21, 22, 23]

* key에 사용될 수 있는 데이터 타입은 숫자, 문자열
* 그러나, value에 사용될 수 있는 데이터 타입은 숫자, 문자열, 튜플, 리스트, 딕셔너리 등 다양한 데이터를 사용할 수 있음

In [189]:
dict_name = {"data1":{'data2':[11,12,13]}, "data2":{'data4':[21,22,23]}}
print(dict_name)

{'data1': {'data2': [11, 12, 13]}, 'data2': {'data4': [21, 22, 23]}}

In [190]:
dict_name.keys()

dict_keys(['data1', 'data2'])

In [191]:
dict_name.values()

dict_values([{'data2': [11, 12, 13]}, {'data4': [21, 22, 23]}])

In [193]:
dict_name['data1']

{'data2': [11, 12, 13]}

In [196]:
dict_name['data2']

{'data4': [21, 22, 23]}

In [197]:
dict_name['data2'] = 'data00'

In [198]:
print(dict_name)

{'data1': {'data2': [11, 12, 13]}, 'data2': 'data00'}

In [200]:
del dict_name["data1"]

In [204]:
print(dict_name)

{'data2': 'data00'}

In [216]:
oo = {'오렌지':106}
dict_name.update(oo)

In [217]:
print(dict_name)

{'data2': 'data99', '오렌지': 106}

In [218]:
dict_name.clear["오렌지"]

TypeError: ignored

In [219]:
dict_name.clear()

In [220]:
print(dict_name)

{}

KeyError: ignored

In [222]:
dict_name = {"data1":{'data2':[11,12,13]}, "data2":{'data4':[21,22,23]}}
dict_name['data1']['data2']

[11, 12, 13]

In [225]:
dict_add = {"오렌지", "11"}
dict_name.update({"오렌지":11})

In [226]:
print(dict_name)

{'data1': {'data2': [11, 12, 13]}, 'data2': {'data4': [21, 22, 23]}, '오렌지': 11}